&1{
  margin: 0 25rem;
  color: $color-grey-light;

  @include respond(tab-land){
    overflow: hidden;
    margin: 0rem;
    // overflow:hidden;
  }
  &__1{
    animation: reach .5s linear;
    font-size: 2.7rem;
    color: $color-india-blue;
    padding-top: 10rem;
    font-weight: bold;
    // margin-bottom: 2rem;
    @include respond(tab-land){
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      margin-left: 5rem;
    }
  }
  &__2{
    animation: reach .5s linear;
    font-size: 13.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-weight: 300;
    color: $color-india-font;
    margin-bottom: -2rem;
    margin-left: -1rem;
    margin-top: -1rem;
    @include respond(tab-land){
      justify-content: center;
      text-align: center;
      font-size: 6.5rem;
      margin-bottom: 1.5rem;
    }
  }
  &__3{
    animation: reach .5s linear;
    font-size: 10.6rem;
    // color: $color-grey;
    color: $color-india-font;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 1.5rem;
    word-spacing: 2.5rem;
    @include respond(tab-land){
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      margin-left: 5rem;
      word-spacing: 1.5rem;
    }
  }
  &__4{
    font-size: 2.2rem;
    color: $color-grey-light;
    // font-weight: bold;
    margin-bottom: 2rem;
    animation: reach .5s linear;
    @include respond(tab-land){
      font-size: 1.5rem;
      justify-content: center;
      margin-bottom: 1rem;
      margin-left: 5rem;
    }
  }
  &__5{
    margin-bottom: 5rem;
    animation: reach .5s linear;
    position: relative;
    &_r1{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       @include respond(tab-land){
        justify-content: space-around;
        margin: 1rem;
        margin-top: 5rem;
        border-radius: 18px;
       }
       &-item{
         cursor: pointer;
         background: $color-india-font;
         height: 5rem;
         padding: 2rem 3rem;
         display: flex;
         justify-content: center;
         align-items: center;
         color: $color-india-fontLight;
         // border-bottom: 1px solid  rgba($color-india-fontLight,.5);
         transition: all .3s;
         @include respond(tab-land){
          padding: 1rem 2rem;
         }
         &--selected{
           background: $color-india-blue;
           color: $color-white;
         }

         &--2{
           // border-left: 1px solid  rgba($color-india-fontLight,.5);
           // border-right: 1px solid  rgba($color-india-fontLight,.5);
           & svg{
             position: relative;
             top: -.4rem;
           }
           @include respond(tab-land){
            border-radius: 5px;
            border: 1px solid  rgba($color-india-fontLight,.5);
           }
         }
         &--1{
           border-top-left-radius: 18px;
           @include respond(tab-land){
            border-radius: 5px;
            border: 1px solid  rgba($color-india-fontLight,.5);
           }

         }
         &--3{
           border-top-right-radius: 18px;
           @include respond(tab-land){
            border-radius: 5px;
            border: 1px solid  rgba($color-india-fontLight,.5);
           }
         }
         & svg{
           width: 4rem;
           margin-right: 1rem;
         }
         font-size: 1.7rem;
       }
       color: $color-white;
    }
    &_r2{
      position: relative;
      display: flex;
      justify-content: center;
      align-items:center;
       border-top-right-radius: 18px;
       border-bottom-right-radius: 18px;
       border-bottom-left-radius: 18px;
       padding-bottom: 3rem;
       @include respond(tab-land){
        flex-direction: column;
        border-radius: 15px;
        width: 45rem;
        margin: auto;
       }
       flex-wrap: wrap;
      &-bWrap{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        position: relative;
        margin: 1rem;
        @include respond(tab-land){
         flex-direction: column;
        }
        &-svg{
           position: absolute;
           transform: translate(-50%,-50%);
           top: 50%;
           left: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
           padding: 0 .5rem;
           background: $color-india-font;
           border-right: 3px solid $color-india-fontLight;
           border-left: 3px solid $color-india-fontLight;
           border-radius: 50%;
           height: 5rem;
           width: 5rem;
           animation: rotate 1s linear;
           @include respond(tab-land){
            transform: translate(-50%,-50%) rotate(90deg);
           }
        }
      }
       &-b1{
         margin: 0 1rem;
         padding: 1rem;
         padding-left: 5rem;
         border: 2px solid  rgba($color-india-fontLight,1);
         border-radius: 5px;
         min-height: 10rem;
         @include respond(tab-land){
          width: 80%;
          margin: 1rem;
          padding-left: 1rem;
         }
         &--flex{
           display: flex;
           justify-content: flex-start;
           align-items:center;
           padding-left: 1rem;
           @include respond(tab-land){

           }
         }
         &-place{
           text-transform: uppercase;
           margin: .5rem 0;
         }
         &-date{
           background: inherit;
           color: $color-white;
           border: none;
           font-size: 2rem;
           width: 15rem;
         }
         & svg{
           height: 3rem;
           margin: 0 1rem;
         }
         & select{
           background: inherit;
           border: none;
           font-size: 2rem;
           color: $color-white;
           & option{
             color: $color-black;
             // background: $color-india-font;
           }
         }
         &-input{
           background: inherit;
           color: $color-white;
           border: none;
           font-size: 2rem;
           font-weight:bold;
           width: 20rem;
           &::placeholder{
             color: $color-white;
           }
           @include respond(tab-land){
              width: 20rem;
           }
         }
       }
       background: $color-india-font;
       padding: 3rem 5rem;
    }
    &_btn{
      position: absolute;
      bottom: 0rem;
      right:5rem;
      transform: translateY(55%);
        cursor: pointer;
        color: $color-white;
        background: $color-india-blue;
        padding: 1.5rem 3rem;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 23rem;
        font-size: 2rem;
        border: none;
        border-radius: 18px;
        @include respond(tab-land){
          position: static;
          transform: translateY(0%);
          margin: 1rem;
          font-size: 1.8rem;
          width: 20rem;
          margin-left: auto;
          margin-right: 2rem;
          border-radius: 5px;
        }
        &:focus{
          outline: none;
        }
        & span{
          padding-right: 2rem;
          z-index: 2;
          background: $color-india-blue;
          clip-path: polygon(0 0, 72% 0, 100% 40%, 100% 60%, 75% 100%, 0 100%);
        }
        & svg{
          position: relative;
          // right: 4.5rem;
          transition: all .3s;
          @include respond(tab-land){
             right: 4.8rem;
          }
          @include respond(phone){
             right: 5.5rem;
          }
        }
        // &:hover >  svg{
        //    right: 0;
        // }
    }
  }
  &__6{
    position: relative;
    width: 80vw;
    height: 55vh;
    @include respond(tab-land){
       width: 100%;
       height: 38vh;
    }
    @include respond(tab-port){
       width: 100%;
       height: 28vh;
    }
    @include respond(phone){
       width: 100%;
       height: 18vh;
    }
    & img{

      position: absolute;
      // width: 120%;
      height: 100%;
      top: 0;
      left: -5%;
      @include respond(tab-land){
         left: 50%;
         transform: translateX(-50%);
      }
    }
  }
}


// .landing1__5_btn:hover >  svg{
//    right: 0;
// }
