&2{
  margin: 5rem 0;
  margin-top: 5rem;
  height: 100vh;
  &__flexWrapper{
    // background: $color-white;
    // height: 100vh;
    width: 100vw;
    z-index: 100000;
    overflow: hidden;
    // position: fixed;
    transition: .5s;
    top: 0;
    left: 0;
  }
  & .img{
    width: 100vw;
  }
  &__flex{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0rem 25rem;
    margin-bottom: 5rem;
    &_text{
      color: $color-india-font;
      text-align: center;
      max-width: 40rem;
      &-l{
         font-size: 6rem;
         margin-bottom: 2rem;
         text-transform: capitalize;
      }
      &-s{
         font-size: 2rem;
      }
    }
    & img{
        // width:  25rem;
        height: 55rem;
        overflow: hidden;
    }
  }

  &__mob{
    // height: 100vh;
    position: relative;
    &_head{
      font-size:5rem;
      color: $color-grey-light;
      margin:5rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 2rem;
    }
    &_dots{
      position: absolute;
      top: 40%;
      left: 3rem;
      transform: translateY(-100%);
       display:flex;
       justify-content: center;
       align-items:center;
       flex-direction: column;
       & svg{
         margin-bottom: 1rem;
         transition: all .3s;
       }
    }
    &_main{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction:column;

      & img{
        height: 50rem;
        align-self: center;
        @include respond(phone){
          align-self: flex-end;

        }
      }
      &-name{
        margin:5rem;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
      }
    }
  }
}
