&3{
  overflow: hidden;
   position: relative;
  &__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  width: 100vw;
  height: 100vh;
  &__link{
    cursor: pointer;
    height: 70vh;
    width: 70vw;
    margin: 5rem auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    background: $color-white;
    border: 1rem solid $color-black;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    overflow:hidden;
    &_globe{
       position: absolute;
       transform: translate(-50%,-50%);
       top: 45.5%;
       left: 31%;
       height: 50%;
       // opacity: 0;
       // transition: all .1s;
       // animation-duration: 1s;
       // animation-timing-function: linear;
       // z-index: 1000000000;
    }
    &_img{
      width: 45%;
      margin-right: 5rem;
      z-index: 1;
      &--plane{
        position: absolute;
        top: 19%;
        left: 18rem;
        width: 15rem;
        z-index: 5;
        z-index: 2;
      }
      &--abs{
        position: absolute;
        bottom: 1rem;
        right: 15rem;
        width: 20rem;
        z-index: 0;
      }
      &--truck{
        transform: translate(-50%,0%) rotate(180deg) rotateY(180deg);
        animation: ride 5s linear infinite;
      }
    }
    &_text{
      width: 45%;
      text-align: center;
      color: $color-india-font;
      z-index: 5;
      &-title{
         font-size: 6rem;
         // font-weight: 300;
         margin-bottom: 3rem;
      }
      &-content{
          font-size: 1.2rem;
      }
    }
  }
  &__mob{
    &_dots{
      display: flex;
      // justify-content: center;
      align-items: center;
      margin: 1rem;
    }
    & svg{
      margin-right: .5rem;
    }
    &_main{
      display: flex;
      justify-content:center;
      align-items: center;
      flex-direction: column;
      & img{
        height: 40rem;
        width: 40rem;
        margin: 5rem 0;
      }
      &-name{
        text-transform: uppercase;
        font-size: 5rem;
        text-align: center;
        margin-bottom:  5rem;
      }
    }
  }


}
