.navigation{
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 0 15rem;
  width: 100vw;
  top: 0;
  z-index: 100000;
  background: #F7F7F7;
  position: relative;
  &__brandLogo{
    position: absolute;
    left: 3rem;
    & img{
      height: 4rem;
    }
  }

  &__items{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 1.2rem;
    &_item{
       margin: 1rem 1rem;
       padding:1rem 2rem;
       text-decoration: none;
       color: black;
       border-radius: 14px;
    }
  }
}
.dropdown{
  z-index: 100000;
  position: relative;
  margin: 1rem 1rem;
  padding:1rem 2rem;
  width: 10rem;
  text-align:center;
  &__menu{
    background: $color-white;
    transition: all .5s;
    // display: none;
    position: absolute;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba($color-black,.5);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    border-radius: 5px;
    & a{
      border: 1px solid rgba($color-grey-light,.5);
      border-radius: 0;
      &:hover{
        background:  rgba($color-grey-light,.1);
        transition: all .3s;
      }
    }
  }
  &:hover > &__menu{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}


.navMob{


  &__toggler{
    position: fixed;
    font-size: 3rem;
    top: 3rem;
    left: 3rem;
    z-index: 100001;
  }

  &__items{
    background: $color-india-fontLight;
    background: $color-white;
    // background: tomato;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    height: 100vh;
  }
}
.openNav{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  height: 100vh;
  animation: openNav .5s linear;
  width: 80vw;
  display: flex;
  flex-flow: column;
  padding-right: 10rem;
  padding-top: 10rem;
  padding-left: 2rem;
  overflow-y: auto;
  box-shadow: 5rem 0 5rem -2rem  rgba($color-black,.5);
  & a{
    margin-bottom: 2rem;
    display: flex;
    font-size: 1.6rem;
  }
}
.closeNav{
  animation: closeNav .5s linear;
  width: 0;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-left: 0rem;
  & a{
    font-size: 0;
    margin-bottom: 0rem;
    display: none;
  }
}
